/* 
    Document   : game
    Author     : msflowers
    Description:
        Specific CSS for the LAD module.
*/

p.weaponSelector {
    width: 100%;
    height: 100%;
    margin: 0px;
}

p.weaponSelector .rows {
    width: 100%;
    display: inline-block;
}

p.weaponSelector .rows .row {
    width: 100%;
}

p.weaponSelector .rows .row .rowHeader {
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

p.weaponSelector .rows .row .weapon {
    width: 50%;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    height: 50px;
}

p.weaponSelector .rows .row .weapon-hover {
    background-color: #9A9A9A;
    color: #EFEF34;
    font-weight: bolder;
}

p.weaponSelector .rows .row .weapon-selected {
    color: #34EF34;
    font-weight: bolder;
}

p.weaponSelector button {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

#ladbkgd {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: 200;
    color: #EFEFEF;
    overflow: auto;
    font-size: 14pt;
}

#closelad {
    float: right;
    padding: 4px;
    margin-top: 4px;
    margin-right: 8px;
}

#ladcontent {
    margin: 4px;
}

#notifier {
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#notifier span {
    display: block;
}

.trainerItem {
    background-color: #232323;
    font-size: 120%;
    padding: 4px;
    margin-bottom: 5px;
    display: inline-block;
}

.minionItem {
    background-color: #232323;
    font-size: 120%;
    padding: 4px;
    margin-bottom: 5px;
    display: inline-block;
}

#tutorial {
    position: fixed;
    width: 150px;
    right: 0px;
    top: 50px;
    border-left: 2px solid #00cccc;
    border-top: 2px solid #00cccc;
    border-bottom: 2px solid #00cccc;
    background-color: #2A2A2A;
    font-size: small;
    padding: 5px 2px 5px 2px;
    cursor: pointer;
}

.highlight-tutorial {
    border: 1px dashed #00cccc;
    position: absolute;
}

.highlight-tutorial .inner {
    background-color: #565656;
    width: 100%;
    height: 100%;
}